.discussion{
    margin-bottom: 10px
}

.discussion-main{
    margin: 30px 10px;
}

.comment{
    position: relative;
    display: none;
    margin-left: 3%;
    
    &_textField {
        width: 85%;
        height: 40px;
    }

    &_button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.comment-container {
    margin-left: 5%;
    margin-top: 10px;
}

.action_icons {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}